Trial_rnw_ch2-concordance.tex
Trial_rnw_ch2.Rnw
Trial_rnw_ch2.log
Trial_rnw_ch2.pdf
Trial_rnw_ch2.synctex.gz
Trial_rnw_ch2.tex
Trial_parallelcom.R
trial.RData
Mechanisms.R
trial_plotQR.Rnw
Trial_table-concordance.tex
Trial_table.Rnw
Trial_table.log
Trial_table.pdf
Trial_table.synctex.gz
Trial_table.tex
cache
Trial_animation.Rnw
Trial_animation.tex
Duration.R
Mechanism_QR.R
Mechanism_plotting.R
Pearson_heatmap.R
Trial_animation-concordance.tex
Trial_animation.log
Trial_animation.synctex.gz(busy)
trial_rnw.Rnw
trial_rnw.log
trial_rnw.pdf
trial_rnw.synctex.gz
trial_rnw-concordance.tex
trial_rnw.tex
