Trial_rnw_ch2-concordance.tex
Trial_rnw_ch2.Rnw
Trial_rnw_ch2.log
Trial_rnw_ch2.pdf
Trial_rnw_ch2.synctex.gz
Trial_rnw_ch2.tex
Trial_parallelcom.R
trial.RData
Mechanisms.R
trial_plotQR.Rnw
Trial_table-concordance.tex
Trial_table.Rnw
Trial_table.log
Trial_table.pdf
Trial_table.synctex.gz
Trial_table.tex
cache
Trial_animation.Rnw
Trial_animation.tex
Duration.R
Mechanism_QR.R
Mechanism_plotting.R
Pearson_heatmap.R
Trial_animation-concordance.tex
Trial_animation.log
Trial_animation.synctex.gz(busy)
trial_rnw.Rnw
trial_rnw.log
trial_rnw.pdf
trial_rnw.synctex.gz
trial_rnw-concordance.tex
trial_rnw.tex
.nfs00000000012183b9000000cb
Thesis_Extremes.synctex.gz(busy)
Trial_testingp.R
Regression_threshold.R
Thesis_Extremes_old-concordance.tex
Thesis_Extremes_old.log
Thesis_Extremes_old.rnw
Thesis_Extremes_old.synctex.gz(busy)
Thesis_Extremes_old.tex
Trial_piechart.R
knitr.sty
Clausius_Clapeyron.R
Mechanism_CAPE.R
Mechanism_Weathercodes.R
Mechanism_timereg.R
Mechanism_topography.R
Trial_autobib-blx.bib
Trial_autobib-concordance.tex
Trial_autobib.Rnw
Trial_autobib.bbl
Trial_autobib.log
Trial_autobib.pdf
Trial_autobib.run.xml
Trial_autobib.synctex.gz
Trial_autobib.tex
Trial_autoref-blx.bib
Trial_autoref-concordance.tex
Trial_autoref.bbl
Trial_autoref.log
Trial_autoref.pdf
Trial_autoref.rnw
Trial_autoref.run.xml
Trial_autoref.synctex.gz
Trial_autoref.tex
figures
Automatic_bibliography_knitr.Rnw
Trial_binnedquantiles.R
Lead-lag.R
3D_plotting.R
Test_permutation.R
P_test_old.R
Poster_plotting.R
