.Rproj.user
.Rhistory
.RData
.Ruserdata
Thesis_Extremes-concordance.tex
Thesis_Extremes.log
Thesis_Extremes.pdf
Thesis_Extremes.synctex.gz
Thesis_Extremes.tex
figure
man
Extrhourlyprec_EMSconf.pdf
Exthourlyprecip_EMSconf.tex
Thesis_Extremes.rnw
Exthourlyprecip_EMSconf.synctex.gz
Abstract_Extrhourlyprec.tex
Exthourlyprecip_EMSconf.aux
Exthourlyprecip_EMSconf.log
Exthourlyprecip_EMSconf.pdf
NAMESPACE
CDE_plot2.Rnw
Thesis_Extremes_Ch2-concordance.tex
Thesis_Extremes_Ch2.log
Thesis_Extremes_Ch2.pdf
Thesis_Extremes_Ch2.rnw
Thesis_Extremes_Ch2.synctex.gz
Thesis_Extremes_Ch2.tex
Parallelcomputing.Rnw
Parallelcomputing.tex
Exthourlyprecip_EMSconf.out
Thesis_Extremes_Ch2_thresholds.pdf
