.Rproj.user
.Rhistory
.RData
.Ruserdata
Thesis_Extremes-concordance.tex
Thesis_Extremes.log
Thesis_Extremes.pdf
Thesis_Extremes.synctex.gz
Thesis_Extremes.tex
figure
man
Extrhourlyprec_EMSconf.pdf
Exthourlyprecip_EMSconf.tex
Thesis_Extremes.rnw
Exthourlyprecip_EMSconf.synctex.gz
Abstract_Extrhourlyprec.tex
Exthourlyprecip_EMSconf.aux
Exthourlyprecip_EMSconf.log
Exthourlyprecip_EMSconf.pdf
NAMESPACE
CDE_plot2.Rnw
Thesis_Extremes_Ch2-concordance.tex
Thesis_Extremes_Ch2.log
Thesis_Extremes_Ch2.pdf
Thesis_Extremes_Ch2.rnw
Thesis_Extremes_Ch2.synctex.gz
Thesis_Extremes_Ch2.tex
Parallelcomputing.Rnw
Parallelcomputing.tex
Exthourlyprecip_EMSconf.out
Thesis_Extremes_Ch2_thresholds.pdf
p_max2d.tex
tblout.tex
.nfs0000000000bf54c2000000ba
p_freqtbl.tex
p_tbl.tex
trial
Thesis_Extremes_Ch2.aux
.nfs0000000000a1e363000001da
animation.gif
bm_demo.gif
freqpolydis.gif
freqpolydis_RMstn.gif
freqpolydis_perSTN.gif
Thesis_extremes-concordance.tex
Thesis_extremes.log
Thesis_extremes.rnw
Thesis_extremes.synctex.gz(busy)
Thesis_extremes.tex
Thesis_Extremes.aux
QR_PvsT.png
Season_IvsRH.png
Season_IvsT.png
Season_IvsTD.png
Season_distTd.png
freqpolydis_RM.gif
knitr.sty
.RDataTmp
Thesis_Extremes.synctex.gz(busy)
Thesis_Extremes_Ch3-blx.bib
Thesis_Extremes_Ch3-concordance.tex
Thesis_Extremes_Ch3.bbl
Thesis_Extremes_Ch3.log
Thesis_Extremes_Ch3.pdf
Thesis_Extremes_Ch3.run.xml
Thesis_Extremes_Ch3.synctex.gz
Thesis_Extremes_Ch3.tex
Trial_References.bib
references.bib
Thesis_Extremes_Method-blx.bib
Thesis_Extremes_Method-concordance.tex
Thesis_Extremes_Method.log
Thesis_Extremes_Method.pdf
Thesis_Extremes_Method.run.xml
Thesis_Extremes_Method.synctex.gz
Thesis_Extremes_Method.tex
Thesis_Extremes_Ch3.blg
Thesis_Extremes-blx.bib
Thesis_Extremes.run.xml
Thesis_Extremes_Intro-blx.bib
Thesis_Extremes_Intro-concordance.tex
Thesis_Extremes_Intro.bbl
Thesis_Extremes_Intro.log
Thesis_Extremes_Intro.pdf
Thesis_Extremes_Intro.run.xml
Thesis_Extremes_Intro.synctex.gz
Thesis_Extremes_Intro.tex
.~lock.Masterthesis_logboek.docx#
Masterthesis_logboek.docx
Thesis_Extremes_Method.bbl
Thesis_Extremes_Ch3.aux
.nfs000000000065bec600000208
