.Rproj.user
.Rhistory
.RData
.Ruserdata
Thesis_Extremes-concordance.tex
Thesis_Extremes.log
Thesis_Extremes.pdf
Thesis_Extremes.synctex.gz
Thesis_Extremes.tex
figure
man
Extrhourlyprec_EMSconf.pdf
Exthourlyprecip_EMSconf.tex
Thesis_Extremes.rnw
Exthourlyprecip_EMSconf.synctex.gz
Abstract_Extrhourlyprec.tex
Exthourlyprecip_EMSconf.aux
Exthourlyprecip_EMSconf.log
Exthourlyprecip_EMSconf.pdf
NAMESPACE
CDE_plot2.Rnw
Thesis_Extremes_Ch2-concordance.tex
Thesis_Extremes_Ch2.log
Thesis_Extremes_Ch2.pdf
Thesis_Extremes_Ch2.rnw
Thesis_Extremes_Ch2.synctex.gz
Thesis_Extremes_Ch2.tex
Parallelcomputing.Rnw
Parallelcomputing.tex
Exthourlyprecip_EMSconf.out
Thesis_Extremes_Ch2_thresholds.pdf
p_max2d.tex
tblout.tex
.nfs0000000000bf54c2000000ba
p_freqtbl.tex
p_tbl.tex
trial
Thesis_Extremes_Ch2.aux
.nfs0000000000a1e363000001da
animation.gif
bm_demo.gif
freqpolydis.gif
freqpolydis_RMstn.gif
freqpolydis_perSTN.gif
Thesis_extremes-concordance.tex
Thesis_extremes.log
Thesis_extremes.rnw
Thesis_extremes.synctex.gz(busy)
Thesis_extremes.tex
Thesis_Extremes.aux
QR_PvsT.png
Season_IvsRH.png
Season_IvsT.png
Season_IvsTD.png
Season_distTd.png
freqpolydis_RM.gif
knitr.sty
.RDataTmp
